.button {
  display: flex;
  gap: 20px;
  overflow: hidden;
  z-index: 1;
  height: 50px;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  color: var(--blue-dark);
  z-index: 1;
  user-select: none;
  outline: none;
  border-radius: 50px;
  text-transform: uppercase;
  background: var(--white);
  span {
    display: block;
    font-family: var(--avg);
    font-size: 30px;
    line-height: 1;
  }

  &.button--blue {
    background: var(--color);
    color: var(--white);
    text-shadow: 1px 0 var(--white), 0px 1px var(--white);
  }

  &.full {
    width: 100%;
    min-width: 100%;
  }

  &.small {
    height: 46px;
    padding: 0px 20px;
    span {
      font-size: 30px;
      padding-top: 4px;
    }
  }
}
