.button {
  display: flex;
  gap: 20px;
  overflow: hidden;
  z-index: 1;
  height: 46px;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  color: var(--blue-dark);
  z-index: 1;
  user-select: none;
  outline: none;
  border-radius: 50px;
  text-transform: uppercase;
  background: var(--white);
  span {
    display: block;
    font-family: var(--avg);
    font-size: 30px;
    line-height: 1;
    padding-top: 4px;
    pointer-events: none;
  }

  &.button--green {
    background: var(--green-dark);
    color: var(--white);
  }

  &.full {
    width: 100%;
    min-width: 100%;
  }

  &.small {
    height: 40px;
    padding: 0px 20px;
    span {
      font-size: 20px;
      padding-top: 2px;
    }
  }
}
