@font-face {
  font-family: 'avg65';
  src: url('../fonts/avg65.woff2') format('woff2'), url('../fonts/avg65.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'got-regular';
  src: url('../fonts/got-regular.woff2') format('woff2'), url('../fonts/got-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'montserrat-regular';
  src: url('../fonts/montserrat-regular.woff2') format('woff2'), url('../fonts/montserrat-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'tektur';
  src: url('../fonts/tektur-regular.woff2') format('woff2'), url('../fonts/tektur-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'tektur';
  src: url('../fonts/tektur-bold.woff2') format('woff2'), url('../fonts/tektur-bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
