.navigation {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 2px;
  text-align: center;
  margin-top: auto;
  margin-bottom: 10px;
  li {
    display: flex;
    position: relative;
    width: 100%;
    height: 56px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: url('../img/main/navigation-bg.webp') repeat-x left center;
    background-size: 1px 34px;
    color: var(--blue);
    font-family: var(--tektur);
    font-size: 16px;
    line-height: 1;
    p {
      position: relative;
      z-index: 1;
    }
    &:before {
      content: '';
      position: absolute;
      width: 400px;
      height: 50px;
      background: url('../img/main/navigation.png') no-repeat center center/cover;
      z-index: 0;
    }
  }
}
