.navigation {
  display: flex;
  position: relative;
  width: 335px;
  height: 264px;
  background: url('../img/main/menu.webp') no-repeat center center/cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: -25px;
  gap: 30px;

  li {
    display: flex;
    position: relative;
    width: 100%;
    height: 24px;
    justify-content: center;
    align-items: center;
    align-content: center;
    &:first-child {
      margin-top: 32px;
    }
    p {
      position: relative;
      font-family: var(--avg);
      z-index: 1;
      font-size: 20px;
      color: var(--white);
      text-shadow: 0px 1px 2px #570c0c;
    }
  }
}
