$popup_transition: 0.5s;

body.locked {
  overflow-x: hidden;
  overflow-y: hidden;
}

.backdrop {
  transform: translateZ(0);
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: auto;
  -webkit-overflow-scrolling: touch;

  transition: opacity $popup_transition ease-in-out 0s, visibility $popup_transition ease-in-out 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  backdrop-filter: blur(10px);
  padding: 20px;
  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
  &:before {
    content: '';
    position: absolute;
    pointer-events: none;
    left: 0px;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    opacity: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
}

.popup {
  position: relative;
  transition: $popup_transition;
  transform: translate(0px, 20px);
  opacity: 0;
  z-index: 1;
  user-select: none;
  width: 100%;
  pointer-events: none;
  @media (max-width: 419px) {
    width: 100%;
  }
  &.visible {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  .popup-content {
    position: relative;
    margin: 0 auto;
    pointer-events: all;
  }
}

.popup-close {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  z-index: 2;
  &:before,
  &:after {
    content: '';
    position: absolute;
    pointer-events: none;
    width: 62.5%;
    height: 2px;
    background: var(--color);
    transition: 0s;
    transition: 0.3s;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:hover {
    &:before {
      transform: rotate(135deg);
    }
    &:after {
      transform: rotate(45deg);
    }
  }
}

.popup-content {
  width: 100%;
  max-width: 344px;
  user-select: none;
  border-radius: 20px;
  background: var(--white);
  padding: 32px 20px;
}

.popup__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}

.popup__subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
}
