.preloader {
  display: flex;
  position: fixed;
  flex-direction: column;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 100svh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 50;
  transition: opacity 0.6s, visibility 0.6s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  background: url('../img/preloader.webp') no-repeat center center/cover;
  overflow: hidden;

  &.hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

.preloader__content {
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 375px;
  height: 640px;

  @media (orientation: landscape) {
    transform: translate(0px, 60px);
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: url('../img/preloader-text.webp') no-repeat center center/cover;
  }
}

.preloader__video {
  display: flex;
  position: absolute;
  width: 100px;
  height: 90px;
  justify-content: center;
  align-items: center;
  align-content: center;
  pointer-events: none;
  background: url('../img/svg/sota.svg') no-repeat center center/cover;
  z-index: 1;
  transform: translate(0px, -180px);

  video {
    display: block;
    width: 64px;
    height: 64px;
    pointer-events: none;
  }
}
