:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--color);
  font-family: var(--tektur);
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  touch-action: manipulation;
  overscroll-behavior: contain;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.section {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100svh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

img {
  display: block;
  object-fit: cover;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: var(--got);
  font-weight: 400;
  color: inherit;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
  transition: 0.3s;
  &:disabled {
    cursor: auto;
    pointer-events: none;
  }
}

ul,
menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

iframe {
  overflow: auto; /* или scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

iframe::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}
