.section--rules {
  position: relative;
  width: 100%;
  background: var(--bg) url('../img/rules/bg.webp') no-repeat center center;
  background-size: 110% auto;

  &:before {
    content: '';
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 320px;
    left: 0px;
    bottom: 0px;
    background: url('../img/main/shadow.webp') no-repeat center bottom;
    background-size: 100% 100%;
  }
}

.rules {
  display: flex;
  position: relative;
  width: 424px;
  height: 544px;
  background: url('../img/rules/list-bg.webp') no-repeat center center/cover;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;

  @media (max-width: 424px) {
    left: 50%;
    margin-left: -212px;
  }

  > li {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    &:nth-child(1) p {
      margin-top: 57px;
      margin-left: 14px;
    }

    &:nth-child(2) p {
      margin-top: 14px;
      margin-left: 14px;
    }

    &:nth-child(3) p {
      transform: translate(-40px, 30px);
    }

    &:nth-child(4) p {
      margin-bottom: 105px;
      margin-left: 14px;
    }

    p {
      display: inline-block;
      position: relative;
      width: auto;
      font-family: var(--avg);
      color: var(--color);
      font-size: 18px;
      line-height: 1.2;
    }
  }
}
