.section--game {
  max-width: 884px;
}

.timer {
  width: 152px;
  height: 184px;
  display: flex;
  position: absolute;
  left: -5px;
  top: -10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: url('../img/game/timer.webp') no-repeat center center/cover;
  z-index: 2;

  span {
    width: 100%;
    padding-left: 5px;
    color: #671804;
    font-weight: 600;
    position: relative;
    z-index: 2;
    font-size: 16px;
    transform: rotate(6deg) translate(36px, 2px);
  }
}

.game-panel__score {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 34px;
  background: #75b72a url('../img/game/panel-score-bg.webp') no-repeat center center;
  background-size: 375px 34px;
  color: var(--white);
  flex-shrink: 0;
  span {
    display: inline-block;
    position: relative;
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 0px 1px 3px #0e511e;
  }
}

.game-panel {
  display: flex;
  position: relative;
  width: 100%;
  height: 180px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: var(--white);
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    bottom: 100%;
    pointer-events: none;
    width: 100%;
    height: 70px;
    background: url('../img/game/clouds.webp') no-repeat center top/cover;
  }
}

.game-panel__counters {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 450px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 0px auto;
  padding: 0px 10px;
  li {
    width: 80px;
    text-align: center;
    span {
      font-family: var(--avg);
      font-size: 18px;
      line-height: 1;
    }
    picture {
      display: flex;
      position: relative;
      width: 80px;
      height: 80px;
      justify-content: center;
      align-items: center;
      align-content: center;
      background: url('../img/svg/product.svg') no-repeat center center/cover;
      img {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
      }
      &.active {
        background: url('../img/svg/product-active.svg') no-repeat center center/cover;
      }
    }
  }
}

.level-iframe {
  display: flex;
  width: 100%;
  height: calc(100svh - 180px);
  position: relative;
  max-width: 884px;
  z-index: 1;
  border: none;
}

.test000 {
  display: block;
  background: url('../img/preloader.webp') no-repeat center center/cover;
  width: 100%;
  height: calc(100vh - 180px);
}
