.section--rules {
  background: url('../img/rules/bg.webp') no-repeat center center/cover;
}

.rules {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 375px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 14px;
  padding: 20px 0px 20px 0px;
  margin: auto;
  > li {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 4px 12px;
    text-align: center;
    transform: translate(-20px, 0px);
    &:nth-child(2n + 2) {
      transform: translate(12px, 0px);
    }
    p {
      display: inline-block;
      width: auto;
      color: var(--blue);
      font-size: 18px;
      line-height: 1.2;
    }

    > ul {
      display: inline-flex;
      position: relative;
      justify-content: center;
      align-items: center;
      align-content: center;
      gap: 10px;
      margin-top: 4px;
      margin-bottom: 4px;
      li {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 52px;
        height: 52px;
        &:before {
          content: '';
          width: 100%;
          height: 90%;
          background: url('../img/svg/sota.svg') no-repeat center center/cover;
          position: absolute;
          z-index: 0;
        }
        img {
          z-index: 1;
        }
      }
    }

    &:before {
      content: '';
      width: 42px;
      height: 103px;
      position: absolute;
      bottom: 50%;
      background: url('../img/svg/arrow-down.svg') no-repeat center center/cover;
    }

    &:nth-child(1) {
      width: 281px;
      height: 130px;
      background: url('../img/rules/rule1-bg.webp') no-repeat center center/cover;
      &:before {
        left: 100%;
        margin-left: -18px;
        margin-bottom: -20px;
      }
    }
    &:nth-child(2) {
      width: 300px;
      height: 164px;
      background: url('../img/rules/rule2-bg.webp') no-repeat center center;
      background-size: 100% 100%;
      z-index: 2;
      img {
        width: 158px;
        height: 82px;
      }
      &:before {
        right: 100%;
        margin-right: -17px;
        margin-bottom: -20px;
      }
    }
    &:nth-child(3) {
      flex-direction: row;
      gap: 10px;
      width: 260px;
      height: 90px;
      background: url('../img/rules/rule3-bg.webp') no-repeat center center/cover;
      &:before {
        left: 100%;
        margin-left: -18px;
        margin-bottom: -20px;
      }
      img {
        width: 56px;
        height: 56px;
      }
    }
    &:nth-child(4) {
      width: 300px;
      height: 158px;
      background: url('../img/rules/rule4-bg.webp') no-repeat center center/cover;
      &:before {
        right: 100%;
        margin-right: -17px;
        margin-bottom: -20px;
      }
    }
  }
}

.rules-images {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  align-content: flex-end;
  gap: 20px;
}

@media (max-height: 667px) {
  .rules {
    gap: 10px;
    padding: 20px 0px 20px 0px;
    > li {
      gap: 4px 12px;
      p {
        font-size: 14px;
      }
      &:before {
        content: '';
        width: 40px;
        height: 100px;
      }

      &:nth-child(1) {
        width: 281px;
        height: 130px;
        &:before {
          margin-bottom: -18px;
        }
      }
      &:nth-child(2) {
        width: 250px;
        height: 137px;
        img {
          width: 124px;
          height: 64px;
        }
        &:before {
          margin-bottom: -18px;
        }
      }
      &:nth-child(3) {
        width: 220px;
        height: 77px;
        &:before {
          margin-bottom: -18px;
          margin-left: -14px;
        }
        img {
          width: 48px;
          height: 48px;
        }
      }
      &:nth-child(4) {
        width: 250px;
        height: 131px;
        background: url('../img/rules/rule4-bg.webp') no-repeat center center/cover;
        &:before {
          right: 100%;
          margin-right: -17px;
          margin-bottom: -20px;
        }
      }
    }
  }
}
