.section--main {
  background: var(--bg) url('../img/main/bg.webp') no-repeat center top;
  background-size: 380px auto;

  &:before {
    content: '';
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 320px;
    left: 0px;
    bottom: 0px;
    background: url('../img/main/shadow.webp') no-repeat center bottom;
    background-size: 100% 100%;
  }

  @media (min-width: 376px) {
    background-size: 110% auto;
    @media (orientation: landscape) {
      background-size: 380px auto;
    }
  }

  .title {
    margin-top: 20px;
    margin-bottom: 180px;

    @media (orientation: landscape) {
      margin-bottom: 240px;
    }
    img {
      width: 240px;
    }
  }
}
