.title {
  display: inline-block;
  font-family: var(--got);
  font-size: 30px;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.1em;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;

  &.title--h1 {
    text-align: center;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0px 1px #fff, 0px 4px 0px rgba(0, 0, 0, 0.25), 2px 4px 0px rgba(0, 0, 0, 0.25);
  }

  &.title--h2 {
    text-align: center;
    font-size: 20px;
    text-shadow: 1px 0 #fff, -1px 0 #fff, 0px 1px #fff, 0px 4px 0px rgba(0, 0, 0, 0.25), 2px 4px 0px rgba(0, 0, 0, 0.25);
  }
}
