:root {
  --avg: 'avg65', sans-serif;
  --regular: 'montserrat-regular', sans-serif;
  --got: 'got-regular', sans-serif;
  --tektur: 'tektur', sans-serif;
  --bold: 'epilepsysans-bold', sans-serif;
  --700: 'songerse-bold', sans-serif;
  --400: 'songerse-regular', sans-serif;

  --bg: #76b62a;
  --white: #ffffff;
  --color: #3b2164;
  --yellow: #ffd702;
  --black: #000000;
  --grey: #f0f1f1;
  --red: #e6193a;
  --invalid: #ff002b;
  --green: #00ff36;
  --green-dark: #0e511e;
  --blue: #01f8ff;
  --blue-dark: #041e65;
}

@import 'mixins';
@import 'fonts';
@import 'reset';
@import 'preloader';
@import 'navigation';
@import 'buttons';
@import 'typography';
@import 'select';
@import 'section__main';
@import 'section__rules';
@import 'section__gameroom';
@import 'section__level';
@import 'section__scores';
@import 'footer';
@import 'popup';
