@charset "UTF-8";
:root {
  --avg: "avg65", sans-serif;
  --regular: "montserrat-regular", sans-serif;
  --got: "got-regular", sans-serif;
  --tektur: "tektur", sans-serif;
  --bold: "epilepsysans-bold", sans-serif;
  --700: "songerse-bold", sans-serif;
  --400: "songerse-regular", sans-serif;
  --bg: #76b62a;
  --white: #ffffff;
  --color: #3b2164;
  --yellow: #ffd702;
  --black: #000000;
  --grey: #f0f1f1;
  --red: #e6193a;
  --invalid: #ff002b;
  --green: #00ff36;
  --green-dark: #0e511e;
  --blue: #01f8ff;
  --blue-dark: #041e65;
}

@font-face {
  font-family: "avg65";
  src: url("../fonts/avg65.woff2") format("woff2"), url("../fonts/avg65.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "got-regular";
  src: url("../fonts/got-regular.woff2") format("woff2"), url("../fonts/got-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "montserrat-regular";
  src: url("../fonts/montserrat-regular.woff2") format("woff2"), url("../fonts/montserrat-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "tektur";
  src: url("../fonts/tektur-regular.woff2") format("woff2"), url("../fonts/tektur-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "tektur";
  src: url("../fonts/tektur-bold.woff2") format("woff2"), url("../fonts/tektur-bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--bg);
  color: var(--color);
  font-family: var(--tektur);
  font-weight: 400;
  line-height: 1.4;
  overflow-x: hidden;
  overflow-y: auto;
}

html,
body {
  touch-action: manipulation;
  overscroll-behavior: contain;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.section {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100svh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
}

img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-family: var(--got);
  font-weight: 400;
  color: inherit;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
  transition: 0.3s;
}
button:disabled {
  cursor: auto;
  pointer-events: none;
}

ul,
menu {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.ellipsis {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

iframe {
  overflow: auto; /* или scroll */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

iframe::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}

.blue {
  color: var(--blue);
}

.preloader {
  display: flex;
  position: fixed;
  flex-direction: column;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 50;
  transition: opacity 0.6s, visibility 0.6s;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  background: url("../img/preloader.webp") no-repeat 20% center/cover;
  overflow: hidden;
}
@media (max-width: 599px) {
  .preloader {
    background-size: 807px 807px;
    background-position: -80px -110px;
  }
}
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.preloader__content {
  display: flex;
  position: absolute;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 375px;
  height: 640px;
}
@media (orientation: landscape) {
  .preloader__content {
    transform: translate(0px, 60px);
  }
}
.preloader__content:before {
  content: "";
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: url("../img/preloader-text.webp") no-repeat center center/cover;
}

.preloader__video {
  display: flex;
  position: absolute;
  width: 100px;
  height: 90px;
  justify-content: center;
  align-items: center;
  align-content: center;
  pointer-events: none;
  background: url("../img/svg/sota.svg") no-repeat center center/cover;
  z-index: 1;
  transform: translate(0px, -180px);
}
.preloader__video video {
  display: block;
  width: 64px;
  height: 64px;
  pointer-events: none;
}

.navigation {
  display: flex;
  position: relative;
  width: 335px;
  height: 264px;
  background: url("../img/main/menu.webp") no-repeat center center/cover;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  margin-top: auto;
  margin-bottom: -25px;
  gap: 30px;
}
.navigation li {
  display: flex;
  position: relative;
  width: 100%;
  height: 24px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.navigation li:first-child {
  margin-top: 32px;
}
.navigation li p {
  position: relative;
  font-family: var(--avg);
  z-index: 1;
  font-size: 20px;
  color: var(--white);
  text-shadow: 0px 1px 2px #570c0c;
}

.button {
  display: flex;
  gap: 20px;
  overflow: hidden;
  z-index: 1;
  height: 46px;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  color: var(--blue-dark);
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  outline: none;
  border-radius: 50px;
  text-transform: uppercase;
  background: var(--white);
}
.button span {
  display: block;
  font-family: var(--avg);
  font-size: 30px;
  line-height: 1;
  padding-top: 4px;
  pointer-events: none;
}
.button.button--green {
  background: var(--green-dark);
  color: var(--white);
}
.button.full {
  width: 100%;
  min-width: 100%;
}
.button.small {
  height: 40px;
  padding: 0px 20px;
}
.button.small span {
  font-size: 20px;
  padding-top: 2px;
}

.title {
  display: inline-block;
  font-family: var(--avg);
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
}

.choices {
  background: none;
  border-radius: 14px;
  width: 280px;
  height: 28px !important;
  background: #fff;
  font-family: var(--avg);
  text-align: center;
  border: none;
  margin: 0 auto;
  z-index: 10;
}
.choices.is-open {
  border-radius: 14px 14px 0px 0px;
}

.choices[data-type*=select-one] .choices__input {
  padding: 0;
  border-bottom: none;
  background-color: none;
  margin: 0;
}

.choices__inner {
  width: 280px;
  border: none;
  padding: 0;
  border-radius: 0px 0px 14px 14px;
  background: none;
  font-size: 14px;
  font-weight: 600;
  color: var(--color);
  overflow: hidden;
}

.choices__list {
  border: none !important;
  overflow: hidden;
  padding: 0px;
  background: none;
}
.choices__list.choices__list--single {
  background: none !important;
  padding: 0;
  height: 28px;
}
.choices__list.choices__list--single > .choices__item {
  padding: 5px !important;
  height: 36px;
  margin-top: 0;
}

.choices__list--dropdown {
  border-radius: 0px 0px 14px 14px !important;
  border: none !important;
  font-size: 14px;
  font-weight: 600;
  color: var(--color) !important;
  text-align: center;
  background: #fff !important;
}
.choices__list--dropdown.is-active {
  background: none;
}

.choices__item {
  padding: 8px !important;
  background: none !important;
  box-shadow: none;
  width: calc(100% - 24px);
  margin: 0 auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.choices__item.choices__item--selectable {
  padding: 0;
}
.choices__item:first-child {
  margin-top: 5px;
}
.choices__item:last-child {
  border-bottom: none;
  margin-bottom: 5px;
}
.choices__item:before, .choices__item:after {
  content: none !important;
}

.choices[data-type*=select-one]::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 6px;
  top: 2px;
  background: url("../img/svg/calendar.svg") no-repeat center center;
}

.choices[data-type*=select-one]::after {
  width: 24px;
  height: 24px;
  border: none !important;
  margin: 0 !important;
  top: 2px;
  right: 6px;
  background: url("../img/svg/select.svg") no-repeat center center;
  transform: translate(0px, 0px) rotate(0deg);
  transition: 0.3s;
}

.choices.is-open[data-type*=select-one]::after {
  transform: translate(0px, 0px) rotate(180deg);
}

.section--main {
  background: var(--bg) url("../img/main/bg.webp") no-repeat center top;
  background-size: 380px auto;
}
.section--main:before {
  content: "";
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 320px;
  left: 0px;
  bottom: 0px;
  background: url("../img/main/shadow.webp") no-repeat center bottom;
  background-size: 100% 100%;
}
@media (min-width: 376px) {
  .section--main {
    background-size: 110% auto;
  }
}
@media (min-width: 376px) and (orientation: landscape) {
  .section--main {
    background-size: 380px auto;
  }
}
.section--main .title {
  margin-top: 20px;
  margin-bottom: 180px;
}
@media (orientation: landscape) {
  .section--main .title {
    margin-bottom: 240px;
  }
}
.section--main .title img {
  width: 240px;
}

.section--rules {
  position: relative;
  width: 100%;
  background: var(--bg) url("../img/rules/bg.webp") no-repeat center center;
  background-size: 110% auto;
}
.section--rules:before {
  content: "";
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 320px;
  left: 0px;
  bottom: 0px;
  background: url("../img/main/shadow.webp") no-repeat center bottom;
  background-size: 100% 100%;
}

.rules {
  display: flex;
  position: relative;
  width: 424px;
  height: 544px;
  background: url("../img/rules/list-bg.webp") no-repeat center center/cover;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: auto;
}
@media (max-width: 424px) {
  .rules {
    left: 50%;
    margin-left: -212px;
  }
}
.rules > li {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
.rules > li:nth-child(1) p {
  margin-top: 57px;
  margin-left: 14px;
}
.rules > li:nth-child(2) p {
  margin-top: 14px;
  margin-left: 14px;
}
.rules > li:nth-child(3) p {
  transform: translate(-40px, 30px);
}
.rules > li:nth-child(4) p {
  margin-bottom: 105px;
  margin-left: 14px;
}
.rules > li p {
  display: inline-block;
  position: relative;
  width: auto;
  font-family: var(--avg);
  color: var(--color);
  font-size: 18px;
  line-height: 1.2;
}

.section--game {
  max-width: 884px;
}

.timer {
  width: 152px;
  height: 184px;
  display: flex;
  position: absolute;
  left: -5px;
  top: -10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: url("../img/game/timer.webp") no-repeat center center/cover;
  z-index: 2;
}
.timer span {
  width: 100%;
  padding-left: 5px;
  color: #671804;
  font-weight: 600;
  position: relative;
  z-index: 2;
  font-size: 16px;
  transform: rotate(6deg) translate(36px, 2px);
}

.game-panel__score {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 34px;
  background: #75b72a url("../img/game/panel-score-bg.webp") no-repeat center center;
  background-size: 375px 34px;
  color: var(--white);
  flex-shrink: 0;
}
.game-panel__score span {
  display: inline-block;
  position: relative;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  text-shadow: 0px 1px 3px #0e511e;
}

.game-panel {
  display: flex;
  position: relative;
  width: 100%;
  height: 180px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background: var(--white);
  z-index: 1;
}
.game-panel:before {
  content: "";
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  width: 100%;
  height: 70px;
  background: url("../img/game/clouds.webp") no-repeat center top/cover;
}

.game-panel__counters {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 450px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  margin: 0px auto;
  padding: 0px 10px;
}
.game-panel__counters li {
  width: 80px;
  text-align: center;
}
.game-panel__counters li span {
  font-family: var(--avg);
  font-size: 18px;
  line-height: 1;
}
.game-panel__counters li picture {
  display: flex;
  position: relative;
  width: 80px;
  height: 80px;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: url("../img/svg/product.svg") no-repeat center center/cover;
}
.game-panel__counters li picture img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}
.game-panel__counters li picture.active {
  background: url("../img/svg/product-active.svg") no-repeat center center/cover;
}

.level-iframe {
  display: flex;
  width: 100%;
  height: calc(100svh - 180px);
  position: relative;
  max-width: 884px;
  z-index: 1;
  border: none;
}

.test000 {
  display: block;
  background: url("../img/preloader.webp") no-repeat center center/cover;
  width: 100%;
  height: calc(100vh - 180px);
}

.body.body--level {
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.level {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 1342px;
  height: 972px;
  background: var(--bg);
}
.level .level-image {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background: url("../img/levels/1.webp") no-repeat center center;
  background-size: 100% 100%;
}

.section--scores {
  background: url("../img/game/bg.webp") no-repeat center bottom/cover;
}
.section--scores:before, .section--scores:after {
  content: "";
  z-index: 0;
  position: absolute;
  width: 100%;
  height: 220px;
  left: 0px;
  background: url("../img/main/shadow.webp") no-repeat center bottom;
  background-size: 100% 100%;
  z-index: 0;
  pointer-events: none;
}
.section--scores:before {
  bottom: 0px;
}
.section--scores:after {
  top: 0px;
  transform: scaleY(-1);
}
.section--scores .footer {
  margin-top: 8px;
}
.section--scores .footer .link {
  margin-top: 4px;
}

.results-header {
  display: block;
  position: relative;
  width: 344px;
  height: 87px;
  z-index: 2;
  margin-top: 20px;
  margin-bottom: -4px;
  background: url("../img/result-bg.webp") no-repeat center top/cover;
  padding-top: 5px;
  pointer-events: none;
}
.results-header .title {
  font-family: var(--avg);
  font-size: 22px;
  line-height: 24px;
  text-align: center;
  display: block;
  width: 100%;
  text-shadow: 0px 1px 1px #000000;
}

.time-period {
  display: block;
  height: 28px;
  width: 100%;
  z-index: 4;
  margin-top: -28px;
}
.time-period .choices {
  transform: translate(0px, 8px);
}
.time-period .select-backdrop {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  transition: opacity 0.3s;
  opacity: 0;
  pointer-events: none;
}
.time-period .choices.is-open + .select-backdrop {
  opacity: 1;
}

.results {
  width: 100%;
  max-width: 342px;
  border-collapse: collapse;
  text-align: center;
  font-size: 13px;
  color: var(--white);
  font-family: var(--avg);
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: auto;
  z-index: 3;
}
.results img {
  margin: 0 auto;
}
.results thead {
  height: 44px;
  background: url("../img/table-head.webp") no-repeat center center;
  background-size: 100% 100%;
}
.results thead tr {
  border: none;
}
.results thead th {
  position: relative;
  font-size: 12px;
  height: 44px;
  padding-top: 12px;
  z-index: 1;
}
.results thead th:first-child {
  padding-left: 10px;
}
.results thead th:last-child {
  padding-right: 10px;
}
.results tbody tr {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.results tbody tr:first-child {
  border-top: none;
}
.results tbody tr.you {
  border-top: none;
  height: 34px;
  background: url("../img/table-foot.webp") no-repeat center center;
  background-size: 100% 100%;
}
.results tbody tr.you td {
  padding-top: 4px;
}
.results tbody td {
  font-size: 15px;
  height: 32px;
}
.results tbody td:first-child {
  padding-left: 10px;
}
.results tbody td:last-child {
  padding-right: 10px;
}

.footer {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 335px;
  height: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-bottom: 14px;
  color: var(--white);
  gap: 5px;
  z-index: 2;
}
.footer .button {
  width: 100%;
}
.footer .link {
  margin-top: 10px;
}

.link {
  display: inline-block;
  font-family: var(--regular);
  text-transform: none;
  font-size: 16px;
  line-height: 1;
  text-transform: none;
  color: inherit;
  border-bottom: 1px solid var(--white);
}
.link.dark {
  color: var(--color);
  border-bottom: 1px solid var(--color);
}

.sound-button {
  width: 32px;
  height: 32px;
  border-radius: 32px;
  position: absolute;
  right: 0px;
  bottom: 8px;
  flex-shrink: 0;
  background: #ffffff url("../img/svg/sound-mute.svg") no-repeat center center/cover;
}
.sound-button.is-playing {
  background: #ffffff url("../img/svg/sound.svg") no-repeat center center/cover;
}
.sound-button.sound-button--yellow {
  background: #fde989 url("../img/svg/sound-mute.svg") no-repeat center center/cover;
}
.sound-button.sound-button--yellow.is-playing {
  background: #fde989 url("../img/svg/sound.svg") no-repeat center center/cover;
}

body.locked {
  overflow-x: hidden;
  overflow-y: hidden;
}

.backdrop {
  transform: translateZ(0);
  will-change: opacity;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  overscroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
  transition: opacity 0.5s ease-in-out 0s, visibility 0.5s ease-in-out 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  padding: 20px;
}
.backdrop.active {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}
.backdrop:before {
  content: "";
  position: absolute;
  pointer-events: none;
  left: 0px;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  opacity: 1;
  grid-area: 1/1/2/2;
}

.popup {
  position: relative;
  transition: 0.5s;
  transform: translate(0px, 20px);
  opacity: 0;
  z-index: 1;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  pointer-events: none;
}
@media (max-width: 419px) {
  .popup {
    width: 100%;
  }
}
.popup.visible {
  opacity: 1;
  transform: translate(0px, 0px);
}
.popup .popup-content {
  position: relative;
  margin: 0 auto;
  pointer-events: all;
}

.popup-close {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  transform: rotate(0deg);
  z-index: 2;
}
.popup-close:before, .popup-close:after {
  content: "";
  position: absolute;
  pointer-events: none;
  width: 62.5%;
  height: 2px;
  background: var(--color);
  transition: 0s;
  transition: 0.3s;
}
.popup-close:before {
  transform: rotate(45deg);
}
.popup-close:after {
  transform: rotate(-45deg);
}
.popup-close:hover:before {
  transform: rotate(135deg);
}
.popup-close:hover:after {
  transform: rotate(45deg);
}

.popup-content {
  width: 100%;
  max-width: 344px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 20px;
  background: var(--white);
  padding: 32px 20px;
}

.popup__title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 600;
}

.popup__subtitle {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.2;
  font-family: var(--avg);
}